.navbar
{
    text-align: center;
    background-color: gainsboro;
}
article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}
h1
{
    text-align: center; 
}
.login-panel 
{
    display: none;
}
.posts-panel
{
    display: none;
}
.posts{
    direction: rtl
}
.top {
    width: 100%;
    height: 22px;
    background-color: dimgray;
    text-align: center;
}
.most-visited-posts-sidebar {
    width: 178px;
    height: 20%;
    float:left;
    background-color:silver;
}
.main {
    float: left;
    height: 20%;
   
    background-color: lightsteelblue;
 }
 header, footer {
    padding: 1em;
    color: white;
    background-color: grey;
    clear: left;
    text-align: center;
}
 