.header, .footer {
    text-align: center;
    direction: rtl;
    background-color: grey;
    color: white;
    padding: 15px;
}
.login-panel
{
    display: none;
}
.posts-panel
{
    display: none;
    background-color: darkgrey;
    float: left;
    /*padding: 15px;*/
    width: 100%
}
.postsList
{
    direction: rtl;
}
.ul
{
    border: 3px solid #73AD21;
}
.sideBar
{
    direction: rtl;
    width: 25%;
    /*height: 30px;*/
    /*background-color: green;*/
    float: left;
    height: 100%;
}
.clearfix::after {
    content: "";
    /*clear: both;*/
    display: table;
}
.postList{
    direction: rtl;
    width: 75%;
    float: left;
    /*background-color: red;*/
    /*margin-left: 55px;*/
}
.rightSidebar
{
    width: 25%;
    float: right;
    background-color: yellow;
}
.commentList li
{
    direction: rtl;
    color: red;
}
/*/kjh*/
.postComments{
    direction: rtl;
}