.header, .footer {
    text-align: center;
    direction: rtl;
    background-color: grey;
    color: white;
    padding: 15px;
}
h2
{
    text-align: center;
}
.login-panel
{
    display: none;
}
.postSpan
{
    font-weight: bold;
}
.posts-panel
{
    /*border: 3px solid black;*/
    display: none;
    background-color: darkgrey;
    float: left;
    /*padding: 15px;*/
    width: 100%
}
.postsList
{
    border: 2px solid black;
    direction: rtl;
}
.sideBar
{
    margin-top: 30px;
    border: 2px solid black;
    direction: rtl;
    width: 25%;
    /*height: 30px;*/
    /*background-color: green;*/
    float: left;
    height: 100%;
}
.postList{
    /*padding: 3px 3px 3px 3px;*/
    direction: rtl;
    width: 73%;
    float: right;
    /*background-color: red;*/
    /*margin-left: 55px;*/
}

.commentList li
{
    direction: rtl;
    color: red;
}

