.header, .footer {
    text-align: center;
    direction: rtl;
    background-color: darkorchid;
    color: white;
    padding: 15px;
}
h2
{
    text-align: center;
}
p{
    font-weight: 100;
}
.login-panel
{
    display: none;
}
.postSpan
{
    padding: 5px;
    font-weight: bold;
}
.postSpan h4{
    color: blue;
}
.posts-panel
{
    /*border: 3px solid black;*/
    display: none; 
    float: left;
    /*padding: 15px;*/
    width: 100%
}
.postsList
{ 
    direction: rtl;
}

.postsList > li{
    list-style: none;
    margin-bottom: 11px;
border-bottom: 1px solid beige;
padding-bottom: 10px;
}
.sideBar
{
    margin-top: 30px; 
    direction: rtl; 
    /*height: 30px;*/
    /*background-color: green;*/
    float: left; 
}
.postList{
    /*padding: 3px 3px 3px 3px;*/
    direction: rtl; 
    float: right;
    
    /*background-color: red;*/
    /*margin-left: 55px;*/
}

.commentList li
{
    /*list-style: none;*/
    direction: rtl;
    color: red;
}
.mostVisited
{
    direction: rtl;
}
.postComments
{
    display: none;
}
 .mostVisited > li{ /* > is used to select the first level ul li elements inside a DOM */
     direction: rtl;
     list-style: number;
     border-bottom: 1px solid #cccccc;
     margin-bottom: 10px;
     padding-bottom: 20px;
     color: coral;
 }

.panel{
    margin-top: 20px;
}
.panel-heading{
    text-align: center;
}
ul li{
    direction: rtl;
}